# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
dist-electron/
release/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# Misc
.DS_Store
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Playwright
e2e/.auth/
e2e/.auth-profile/
e2e-report/
test-results/
playwright-report/
blob-report/

# Vite
.vite/

# Electron
*.log
